body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;
}

.contain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: #5f0108;
  transition: background-color 0.7s;
}
.contain:active {
  background-color: #627318;
}
.contain:active .wrap {
  animation: rotate 0.3s infinite;
}
.contain:active .wrap #green {
  opacity: 1 !important;
}
.contain:active.angry {
  background-color: #ABA618;
}
.contain:active.angry .wrap {
  animation: rotate 0.1s infinite;
}
.contain:active.angry .wrap #green {
  filter: hue-rotate(-30deg);
}
.contain .wrap {
  position: relative;
  width: clamp(10px, 70vh, 90%);
  aspect-ratio: 1/1;
}
.contain .wrap img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contain .wrap img#green {
  opacity: 0;
  transition: opacity 0.2s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0);
  }
}